/*variable color background header y footer*/
/*color botones de menu, navbar y footer*/
/*medidas en porcetaje*/
/*height*/
/*medidas en px*/
/*medida margin*/
/*mapa h1 de titulos*/
/*mixin con parametro*/
header {
  /*color background*/
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(142, 233, 126) 35%, rgb(0, 212, 255) 100%);
  /*submenu navbar*/
  /*navbar*/
  /*boton buscar*/
}
header .nav-item, header button {
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
header .nav-item a:not(.sub):hover, header button a:not(.sub):hover {
  color: aquamarine;
}
header .dropdown-menu {
  background-color: silver;
  --bs-dropdown-link-active-bg: #198754;
  --bs-dropdown-link-hover-bg: #7FFFD4;
}
header .button {
  --bs-btn-hover-bg:none;
  --bs-btn-hover-color: #7FFFD4;
  --bs-btn-hover-border-color: #7FFFD4;
  --bs-btn-active-color: #7FFFD4;
  --bs-btn-active-bg: none;
  --bs-btn-active-border-color: #7FFFD4;
}

/*body*/
* {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: none;
  min-height: 100vh;
}

footer {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(142, 233, 126) 35%, rgb(0, 212, 255) 100%);
  margin-top: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  font-size: 18px;
  border-radius: 0.5%;
  padding-left: 0.5%;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: whitesmoke;
}
footer .footer_social img {
  width: 50px;
}
footer .footer_flex {
  padding: 0.5%;
}
footer .footer_flex .accordion {
  --bs-accordion-bg:none;
  --bs-accordion-border-color:none;
  --bs-accordion-active-bg: none;
  --bs-accordion-color:none;
  --bs-accordion-active-color:#7FFFD4;
  --bs-accordion-btn-focus-border-color:none;
  --bs-accordion-btn-focus-box-shadow:none;
  --bs-accordion-btn-color:none;
}
footer .footer_flex .accordion .accordion-header {
  text-align: center;
}
footer .footer_flex .accordion .accordion-button {
  padding-left: 40%;
  font-family: Arial, Helvetica, sans-serif;
}
footer .footer_flex .accordion .accordion-button:after {
  margin-left: 0;
}
footer .footer_flex .accordion .accordion-button:hover {
  color: aquamarine;
}
footer .footer_flex .accordion .accordion-button .accordion-button:not(.collapsed):after {
  background-image: var(--bs-accordion-btn-active-icon);
  transform: var(--bs-accordion-btn-icon-transform);
}

/*padding en contenido de section de htmls*/
.content_img_slider, section .Formulario_ayuda, section .titulo_mates, section .titulo_cuadros, .titulo_Central, .content_ofertas, .contect_formulario, .content_tabla, #content_quienessomos, .content_prom {
  padding: 2% 0 2% 0.5%;
}

.titulo_Central {
  padding-bottom: 0;
  font-family: Arial;
  color: aquamarine;
  -webkit-text-stroke: 0.5px darkgreen;
}

/*color background*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  /*h1 de los titulos*/
  /*flex texto quienes somos*/
}
section .content_titulo, section .Formulario_ayuda, section .titulo_mates, section .titulo_cuadros, section .content_titulo_ofertas {
  font-family: Arial;
  font-size: 30px;
  color: aquamarine;
  -webkit-text-stroke: 0.5px darkgreen;
}
section .Formulario_ayuda, section .titulo_mates, section .titulo_cuadros {
  padding-bottom: 0;
}
section #content_quienessomos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
