footer{
    background: $bg-color2;
    margin-top: nth($list: $margin, $n: 2);
    font-family:Arial, Helvetica, sans-serif;
    color: nth($list: $bt-color2, $n: 3);
    font-size: nth($list: $p-size, $n: 1);
    border-radius: nth($list: $p-porcent, $n: 1);
    padding-left: nth($list: $p-porcent, $n: 1);
    border-top: nth($list: $bt-color, $n: 4) nth($list: $b-border, $n: 1);
    border-width: nth($list: $p-size, $n: 3);
    a{
        text-decoration: none;
        &:hover{
            color:nth($list: $bt-color, $n: 7);
        }
    }
    .footer_social{
        img{
            width: nth($list: $p-size, $n: 2);
        }
    }
    .footer_flex{
        padding: nth($list: $p-porcent, $n: 1);
        .accordion{
            --bs-accordion-bg:none;
            --bs-accordion-border-color:none;
            --bs-accordion-active-bg: none;
            --bs-accordion-color:none;
            --bs-accordion-active-color:#ffece6;
            --bs-accordion-btn-focus-border-color:none;
            --bs-accordion-btn-focus-box-shadow:none;
            --bs-accordion-btn-color:none;
            .accordion-header{
                text-align: center;
            }
            .accordion-button{
                padding-left: nth($list: $p-porcent, $n: 2);
                font-family: Arial, Helvetica, sans-serif;
                &:after{
                    margin-left: 0;
                }
                &:hover{
                    color:nth($list: $bt-color2, $n: 5);
                }
                .accordion-button:not(.collapsed) {
                    &:after{
                        background-image: var(--bs-accordion-btn-active-icon);
                        transform: var(--bs-accordion-btn-icon-transform);
                    }   
                }
            }
        }
    }
}